<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wong.mapper.MyInsertMapper">

    <resultMap type="com.wong.domain.Dept" id="Dept">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="dept_name" column="dept_name" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="myTarget" type="map" >

    </resultMap>

    <sql id="dept">
        id, name
    </sql>

    <insert id="insertOne" parameterType="com.wong.domain.Dept">
        insert into dept(id,dept_name) value(#{id},#{dept_name})
    </insert>

    <insert id="insertTwo" parameterType="com.wong.domain.Dept">
        insert into dept(id,dept_name) value(#{id},#{dept_name})
    </insert>
</mapper>

